<ion-header>
  <ion-toolbar>
    <ion-title>
      Buscar Cep
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item>
      <ion-label position="floating">Cep</ion-label>
      <ion-input 
        type="text" 
        name="cep" 
        [(ngModel)]="cep">
      </ion-input>
    </ion-item>
  
    <ion-button expand="block" (click)="getCep()">
      <ion-icon slot="end" name="search"></ion-icon>
      Pesquisar
    </ion-button>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Cep</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <div>
          <p>Cep: {{ endereco.cep }}</p>
          <p>Bairro: {{ endereco.bairro }}</p>
          <p>Complemento: {{ endereco.complemento }}</p>
          <p>Gia: {{ endereco.gia }}</p>
          <p>Ibge: {{ endereco.ibge }}</p>
          <p>Localidade: {{ endereco.localidade }}</p>
          <p>Logradouro: {{ endereco.logradouro }}</p>
          <p>UF: {{ endereco.uf }}</p>
          <p>Unidade: {{ endereco.unidade }}</p>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
